@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(0, 68, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    border-radius: 80%;
    margin: 10px;
    border: solid 3px black;
    background: #ffffff;
}

.hold {
    border: none;
}

.hovered {
    background-color: #787878;
    border-color: #fff;
    border-style: dotted;
}

.fill {
    background-image: url("https://source.unsplash.com/random/150x150");
    height: 145px;
    width: 145px;
    border-radius: 70%;
    cursor: pointer;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}
